/* @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Spirax&display=swap');

#navbar {
  height: 70px;
  background-color: var(--color-light-bg);
}

#navbar .container {
  display: flex;
  padding: 2rem 1rem;
}

#navbar-landing img {
  display: inline;
  margin: 0 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  border-radius: 50%;
}

#navbar-landing-title {
  display: inline-block;
  vertical-align: top;
  color: black;
  font-family: var(--post-header-font-family);
  font-size: 22px;
}

#navbar-navigation {
  width: 70%;
  text-align: right;
  font-size: 16px;
}

#navbar-navigation li {
  display: inline;
  padding-top: 10px;
}

#navbar-navigation a {
  padding: 0 15px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}
