/* @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Spirax&display=swap');

#navbar {
  position: fixed;
  width: 100vw;
  height: 70px;
  background-color: white;
  z-index: 1;
  transition: 0.2s;
  display: flex;
}

.floatingNav {
  width: calc(100vh - 100px);
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
}

#navbar-landing {
  padding-left: 15px;
}

#navbar-landing a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#navbar-landing img {
  display: inline;
  margin: 0 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  border-radius: 50%;
}

#navbar-landing-title, #navbar-landing-asciimoji {
  display: inline-block;
  vertical-align: top;
  color: black;
  text-decoration: none;
  /* font-family: 'Cinzel Decorative', cursive; */
  /* font-family: 'Spirax', cursive; */
  font-family: var(--post-header-font-family);
  font-size: 22px;
}

#navbar-landing-title a {
  color: black;
  text-decoration: none;
}

#navbar-landing-title a:hover {
  text-decoration: underline;
}

#navbar-landing-asciimoji {
  padding-left: 12px;
}

#navbar-navigation {
  position: absolute;
  right: 20px;
  top: 5px;
  height: 100%;
}

#navbar-navigation li {
  display: inline;
  padding-top: 10px;
}

#navbar-navigation a {
  padding: 15px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
}

#navbar-navigation a:hover {
  background-color: #F0F0F0;
}
