/* @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Spirax&display=swap');

header {
  background-color: var(--color-light-bg);
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li {
  float: right;
}

#navbar a {
  display: block;
  padding: 20px;
  margin: 15px 0px;
  color: black;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

#navbar-title a {
  padding: 0;
}

#navbar-title img {
  display: inline-block;
  margin: 0 17px;
  height: 50px;
  border-radius: 50%;
}

#navbar-title p {
  display: inline-block;
  vertical-align: top;
  color: black;
  font-family: var(--post-header-font-family);
  font-size: 18px;
}
