#post-header {
  margin: 0 -1rem;
  padding: 3rem 1rem 2rem;
  background-color: var(--color-light-bg);
}

#post-header h1 {
  font-size: 30pt;
}

#date-published {
  font-size: 17px;
  padding: 15px 0;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 300;
  font-style: italic;
}

#header-line {
  width: 90px;
  border: 2px solid var(--color-brown);
}
