/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Roboto&display=swap');

:root {
  --page-width: 900px;
  --post-font-family: 'Roboto', sans-serif;
  --post-header-font-family: 'Merriweather Sans', sans-serif;
  --post-font-size: 18px;
  --color-light-bg: #FCFAF8;
  --color-blue: #3897D3;
  --color-brown: #4C2E20;
}

body {
  font-family: var(--post-font-family);
  font-size: var(--post-font-size);
  position: absolute;
  margin: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--post-header-font-family);
}

.container {
  max-width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
}

.tc {
  text-align: center;
}
